<div class="accordion-box">
  <button class="headding" data-toggle="collapse" data-target="#collapse-two"
          aria-expanded="false" aria-controls="collapse">
    <span class="icon"></span> FILTER
  </button>
  <div class="card-text collapse" id="collapse-two">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="mb-1 mt-3">
          <input class="form-check-input" type="checkbox" value="" id="Mehr">
          <label class="form-check-label" for="Mehr">
            Mehr als 90 Tage im Bestand</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value="" id="Keine">
          <label class="form-check-label" for="Keine">
            Keine Bilder</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value=""
                 id="Unvollständig">
          <label class="form-check-label" for="Unvollständig">
            Unvollständig</label>
        </div>
        <hr />
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value=""
                 id="Verkauft">
          <label class="form-check-label" for="Verkauft">
            Verkauft</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value=""
                 id="Reserviert">
          <label class="form-check-label" for="Reserviert">
            Reserviert</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value=""
                 id="reserviert">
          <label class="form-check-label" for="reserviert">
            Nicht reserviert</label>
        </div>
        <hr />
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value=""
                 id="inseriert">
          <label class="form-check-label" for="inseriert">
            Nicht inseriert</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value=""
                 id="Inseriert">
          <label class="form-check-label" for="Inseriert">
            Inseriert</label>
        </div>
        <hr />
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value=""
                 id="Neufahrzeuge">
          <label class="form-check-label" for="Neufahrzeuge">
            Neufahrzeuge</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value=""
                 id="Gebrauchtfahrzeuge">
          <label class="form-check-label" for="Gebrauchtfahrzeuge">
            Gebrauchtfahrzeuge</label>
        </div>
        <hr />
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value=""
                 id="Vorführfahreuge">
          <label class="form-check-label" for="Vorführfahreuge">
            Vorführfahreuge</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value=""
                 id="Tageszulassungen">
          <label class="form-check-label" for="Tageszulassungen">
            Tageszulassungen</label>
        </div>
        <hr />
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value="" id="Pkw">
          <label class="form-check-label" for="Pkw">
            Pkw</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value="" id="Lkw">
          <label class="form-check-label" for="Lkw">
            Lkw bis 7,5t</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value="" id="WoMo">
          <label class="form-check-label" for="WoMo">
            WoMo</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value="" id="Krad">
          <label class="form-check-label" for="Krad">
            Krad</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value="" id="über">
          <label class="form-check-label" for="über">
            Lkw über 7,5t</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value=""
                 id="Anhänger">
          <label class="form-check-label" for="Anhänger">
            Anhänger</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value="" id="SZM">
          <label class="form-check-label" for="SZM">
            SZM</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value=""
                 id="Auflieger">
          <label class="form-check-label" for="Auflieger">
            Auflieger</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value="" id="Bauma">
          <label class="form-check-label" for="Bauma">
            Bauma</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value="" id="Agrar">
          <label class="form-check-label" for="Agrar">
            Agrar</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value=""
                 id="Stapler">
          <label class="form-check-label" for="Stapler">
            Stapler</label>
        </div>
        <div class="mb-1">
          <input class="form-check-input" type="checkbox" value="" id="Busse">
          <label class="form-check-label" for="Busse">
            Busse</label>
        </div>
      </div>
    </div>
  </div>
</div>