<footer class="footer mt-auto py-3">
  <div class="container">
    <!-- <a href="#">Powered by:<%#= image_tag "mobile.svg", class: "mx-3" %>></a> -->
    <a href="#">Kontakt</a>
    <a href="#">Impressum</a>
    <a href="#">AGB/Preislisten</a>
    <a href="#">Datenschutz</a>
  </div>
  </div>
</footer>